@model Store.Web.Models.ProductViewModel
@{
    ViewData["Title"] = "AddProduct";
}

<h2>AddProduct</h2>
<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct" enctype="multipart/form-data">

            <partial name="_Product" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.StoreId" class="btn btn-success">Back to Product</a>
            </div>
        </form>
    </div>
</div>

