@model Store.Web.Models.ProductViewModel
@{
    ViewData["Title"] = "EditProduct";
}

<h2>EditProduct</h2>
<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

             <partial name="_Product"/>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.StoreId" class="btn btn-success">Back to Product</a>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="image" style="width:500px;height:400px;max-width:100%;" />
        }
    </div>
</div>


